/* You can add global styles to this file, and also import other style files */

@import "node_modules/angular-notifier/styles";
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .form-inline {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
}

@media screen and (max-width: 560px) {
  .row .filter {
    margin-top: 50px;
  }
  .form-inline {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .form-inline .btn-search {
    margin-top: 5px;
  }
}

.container {
  max-width: 960px;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}
