<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 70px;" alt="main logo">
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase font-weight-bold">
    <a class="p-2 text-dark" href="#">Home</a>
    <a class="p-2 text-dark" href="#">Shop</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Contact</a>
  </nav>
  <div class="d-flex align-items-center">
    <a href="" class="position-relative">
      <i class="fa fa-shopping-cart mr-5 fa-2x text-dark"></i>
      <div class="cart-size">5</div>
    </a>
    <a class="btn btn-outline-primary mr-2" href="#">Sign in</a>
    <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a>
  </div>
</div>
