<div class="container">
  <div class="row">
    <div class="col-md-3 filter">
      <h5 class="text-primary ml-3">Sort By</h5>
      <select class="form-control" id="exampleFormControlSelect1" (change)="onSortSelected($event)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
      </select>
      <h5 class="text-primary ml-3 mt-1">Brands</h5>
      <ul class="list-group">
        <li class="list-group-item" [class.active]="brand.id === shopParams.brandId" [value]="brand.id"
            *ngFor="let brand of brands" aria-current="true" (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
      </ul>
      <h5 class="text-primary ml-3 mt-1">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" [class.active]="type.id === shopParams.typeId" [value]="type.id"
            *ngFor="let type of types" aria-current="true" (click)="onTypeSelected(type.id)">{{type.name}}</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <span>Showing <strong>10</strong> of <strong>16</strong></span>
        </div>
        <div class="col-md-8 d-flex justify-content-end">
          <div class="form-inline">
            <input type="search" class="form-control mr-2" style=" width: 300px" placeholder="Search">
            <button class="btn btn-outline-primary btn-search">Search</button>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-4 my-2" *ngFor="let product of products
          let i = index">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination

          [boundaryLinks]="true"
          [totalItems]="this.totalCount"
          (pageChanged)="onPageChange($event)"
          [itemsPerPage]="this.shopParams.pageSize"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></pagination>
      </div>
    </div>
  </div>
</div>
