<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 filter">
      <ng-container *ngIf="brands.length>0 && types.length>0">
        <h5 class="text-primary ml-3 font-weight-bold">Sort By</h5>
        <select class="form-control" id="exampleFormControlSelect1" (change)="onSortSelected($event)">
          <option *ngFor="let sort of sortOptions" [selected]="shopParams.sort===sort.value"
                  [value]="sort.value">{{sort.name}}</option>
        </select>
        <h5 class="text-primary ml-3 mt-1 font-weight-bold">Brands</h5>
        <ul class="list-group">
          <li class="list-group-item" [class.active]="brand.id === shopParams.brandId" [value]="brand.id"
              *ngFor="let brand of brands" aria-current="true" (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
        </ul>
        <h5 class="text-primary ml-3 mt-1 font-weight-bold">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item" [class.active]="type.id === shopParams.typeId" [value]="type.id"
              *ngFor="let type of types" aria-current="true" (click)="onTypeSelected(type.id)">{{type.name}}</li>
        </ul>
      </ng-container>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <app-paging-header [pageNumber]="shopParams.pageNumber" [pageSize]="shopParams.pageSize"
                             [totalCount]="totalCount"></app-paging-header>
        </div>
        <div class="col-md-8 d-flex justify-content-end">
          <div class="form-inline" *ngIf="products.length >0">
            <input type="search" class="form-control mr-2" #search style=" width: 300px" placeholder="Search">
            <button class="btn btn-outline-primary btn-search" (click)="onSearch()">Search</button>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-4 my-2" *ngFor="let product of products
          let i = index">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-between" *ngIf="totalCount && totalCount> 0">
        <div>
          <app-pager
            [pageNumber]="shopParams.pageNumber"
            [pageSize]="shopParams.pageSize"
            [totalCount]="totalCount"
            (pageChanged)="onPageChange($event)"
          ></app-pager>
        </div>
        <div>
          <select class="form-control" id="pagesSizes" (change)="onPageSizeChange($event)">
            <option *ngFor="let pageSize of pagesSizes" [value]="pageSize">{{pageSize}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="!totalCount">
        <p>No products found!</p>
      </div>
    </div>
  </div>
</div>
