<div class="d-flex justify-content-center mt-5">
  <div class="col-md-3">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmitForm()">
      <div class="text-center mb-4">
        <i class="fa fa-lock fa-3x text-primary mb-4 fa-border"></i>
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>

      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> <span class="remember-me"> Remember me </span>
        </label>
      </div>
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2022-2023</p>
    </form>
  </div>
</div>
